#docker-compose.yml
#Objetivo: Levantar imagen docker desde ghcr para posterior uso de docker-compose en workflow de Github Actions


services:
  
  service_fastapi_app:
    image: 'ghcr.io/themidnightguy/fastapi-quickstart/my_fastapi_app:latest'
    restart:  always
    ports:
      -  "8000:8000"

    environment:
      - REGISTRY=ghcr.io
      - IMAGE_NAME=themidnightguy/fastapi-quickstart

    networks:
      - red_aislada


secrets:
  ssh-private-key:
    file: ~/.ssh/oci/ssh-key-2026-02-18

  ssh-host:
    file: ~/.secrets/oci/ssh_host.txt

  ssh_username:
    file: ~/.secrets/oci/ssh_username.txt

networks:
  red_aislada:
    driver: bridge

#Se genera dentro de la instancia remota al realizar un `docker compose up`
volumes:
  volumen_local:
