#Workflow CI/CD - FastAPI
#Definir proceso de automatizacion

name: FastApi CI/CD
run-name: ${{github.actor}} esta automatizando procesos!
on: [push, pull_request]
jobs:
  python:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Configurar Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.12"

  test:
    needs: python
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Instalar dependencias
        run: pip install . 
      - name: Test con pytest
        run: pytest --cov=src --cov-report=xml --cov-report=html --cov-report=json
      - name: guardar reportes
        uses: actions/upload-artifact@v4
        with:
          name: reportes-cobertura
          path: reports/coverage/

  docker-build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        run: docker build -t my_fastapi_app:${{github.sha}}

  fastapi:
    needs: docker-build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
        #continuar con despliegue web via GitHub Actions con SSH