#Workflow CI/CD - FastAPI
#Definir proceso de automatizacion

name: FastApi CI/CD
run-name: ${{github.actor}} esta automatizando procesos!
on: [push]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: themidnightguy/fastapi-quickstart

jobs:
  #JOB-N1
  python-poetry:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
#Check
    steps:
    - name: Chequeo de código
      uses: actions/checkout@v4
#Cache ci/cd
    - name: Cache de runner en Poetry (Para posterior instalacion de dependencias)
      uses: actions/cache@v4
      with:
        path: ~/.cache/pypoetry
        key: ${{runner.os}}-poetry-${{hashFiles('**/poetry.lock')}}
        restore-keys: |
          ${{runner.os}}-poetry    
#Python
    - name: Configurar Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.12.0"
#Poetry
    - name: Instalar poetry
      run: pip install poetry
    - name: Instalar dependencias
      run: poetry install --no-interaction --no-ansi
#Pytest
    - name: Test con pytest
      run: poetry run pytest --cov=app
#GHCR
    - name: LogIn to GHCR (GitHub Container Registry)
      uses: docker/login-action@v3
      with:
            registry: ${{ env.REGISTRY}}
            username: ${{ github.actor}}
            password: ${{ secrets.GITHUB_TOKEN}}
#Docker
    - name: Build image
      run: docker build -t ${{env.REGISTRY}}/${{env.IMAGE_NAME}}/my_fastapi_app .

    - name: Push image
      run: docker push ${{env.REGISTRY}}/${{env.IMAGE_NAME}}/my_fastapi_app

#Deploy servidor
  #JOB-N2
  
  Deploy_Docker_image:
    needs: python-poetry
    runs-on: ubuntu-latest

    steps:
      - name: Instalar SSH Keys
        run: |
          install -m 600 -D /dev/null ~/.ssh/id_rsa
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          ssh-keyscan -H ${{secrets.SSH_HOST}}  > ~/.ssh/known_hosts

      - name: Conexión a instancia OCI (Oracle Cloud Infrastructure)
        run: ssh -i ~/.ssh/id_rsa ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} 

      - name: Login Docker
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      
      - name: Obtener imagen Docker
        run: docker pull ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/my_fastapi_app:latest

      - name: Detener contenedor anterior (Si existiera)
        run: docker stop fastapi-app || true

      - name: Remover contenedor anterior (Si existiera)
        run: docker rm fastapi-app || true

      - name: Iniciar contenedor
        run: docker run -d \
              --name fastapi-app \
              --restart always \
              -p 80:8000 \
              ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/my_fastapi_app:latest


#ref step "Instalar SSH Keys": https://stackoverflow.com/questions/60477061/github-actions-how-to-deploy-to-remote-server-using-ssh/70447517#70447517