#Workflow CI/CD - FastAPI
#Definir proceso de automatizacion

name: FastApi CI/CD
run-name: ${{github.actor}} esta automatizando procesos!
on: [push]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository}}

jobs:
  python:
    runs-on: ubuntu-latest
    steps:
    - name: Chequeo de c贸digo
      uses: actions/checkout@v4
    - name: Configurar Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.12"

  poetry:
    needs: python
    runs-on: ubuntu-latest
    steps:
        - name: Chequeo de c贸digo
          uses: actions/checkout@v4
        - name: Instalar poetry
          run: pip install poetry
        - name: Instalar dependencias
          run: poetry install --no-interaction --no-ansi

  pytest:
    needs: poetry
    runs-on: ubuntu-latest
    steps:
      - name: Chequeo de c贸digo
        uses: actions/checkout@v4
      - name: Test con pytest
        run: poetry run pytest --cov=app


  docker-build:
    needs: pytest
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Chequeo de c贸digo
        uses: actions/checkout@v4
      - name: LogIn to GHCR (GitHub Container Registry)
        uses: docker/login-action@v3
        with:
            registry: ${{ env.REGISTRY}}
            username: ${{ github.actor}}
            password: ${{ secrets.GITHUB_TOKEN}}
            
      - name: Build image
        run: docker build -t ${{ env.REGISTRY}}/${{ github.repository}}/my_fastapi_app .
      - name: Push image
        run: docker push -t ${{env.REGISTRY}}/${{ github.repository}}/my_fastapi_app .
        

  fastapi:
    needs: docker-build
    runs-on: ubuntu-latest
    steps:
    - name: chequeo del codigo
      uses: actions/checkout@v4
        #continuar con despliegue web via GitHub Actions con SSH