#Workflow CI/CD - FastAPI
#Definir proceso de automatizacion

name: FastApi CI/CD
run-name: ${{github.actor}} esta automatizando procesos!
on: [push]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: themidnightguy/fastapi-quickstart

jobs:
  #JOB-N1
  python-poetry:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
#Check
    steps:
    - name: Chequeo de código
      uses: actions/checkout@v4
#Cache ci/cd
    - name: Cache de runner en Poetry (Para posterior instalacion de dependencias)
      uses: actions/cache@v4
      with:
        path: ~/.cache/pypoetry
        key: ${{runner.os}}-poetry-${{hashFiles('**/poetry.lock')}}
        restore-keys: |
          ${{runner.os}}-poetry    
#Python
    - name: Configurar Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.12.0"
#Poetry
    - name: Instalar poetry
      run: pip install poetry
    - name: Instalar dependencias
      run: poetry install --no-interaction --no-ansi
#Pytest
    - name: Test con pytest
      run: poetry run pytest --cov=app
#GHCR
    - name: LogIn to GHCR (GitHub Container Registry)
      uses: docker/login-action@v3
      with:
            registry: ${{ env.REGISTRY}}
            username: ${{ github.actor}}
            password: ${{ secrets.GITHUB_TOKEN}}
#Docker
    - name: Build image
      run: docker build -t ${{env.REGISTRY}}/${{env.IMAGE_NAME}}/my_fastapi_app .

    - name: Push image
      run: docker push ${{env.REGISTRY}}/${{env.IMAGE_NAME}}/my_fastapi_app

#Deploy servidor
  #JOB-N2
  
  Deploy_Docker_image:
    needs: python-poetry
    runs-on: ubuntu-latest
    steps:
      - name: Uso de SSH-ACTION
        uses: appleboy/ssh-action@v1
        #Se definen los parametros de autentificación
        with:
          host: ${{secrets.SSH_HOST}}
          username: ${{secrets.SSH_USER}}
          key: ${{secrets.SSH_PRIVATE_KEY}}
          #¿Que se hara dentro del script?
          # Los comandos ejecutados dentro del script seran via ssh en orden secuencial.
          # Se inicia sesión Docker en ghcr.io 
          # Se hace pull de la imagen
          # Verifica si existen imagenes o contenedores
          # Se detiene y remueve el contendor (De existir)
          # Iniciamos un nuevo contenedor
          # Validamos que se ejecute correctamente con 'curl'
          script: |
            echo "Comandos en OCI"
            
            echo "${{ secrets.GITHUB_TOKEN }}" | docker login ${{env.REGISTRY}} -u ${{ github.actor }} --password-stdin

            docker pull ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/my_fastapi_app:latest

            docker images -a
            docker ps -a

            docker stop fastapi-app || true
            docker rm fastapi-app || true
            docker run -d --name fastapi-app --restart always -p 80:8000 ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/my_fastapi_app:latest

            echo "Esperando que FastAPI inicie..."
            sleep 10

            curl -I http://127.0.0.1:80/docs